<section class="page">
 <app-navbar></app-navbar>

    <div class="container">
       
        <h1 class="white-text mt-5 text-center" style="color: whitesmoke; font-size: 70px;">QuotesApp</h1>
        <div class="row mt-md-5 pt-5">
            <div class="col-md-5">
                <h2 class="text-center" style="color: whitesmoke; font-size: 50px;">My Quotes</h2>
                <app-quotes></app-quotes>

            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <h2></h2>
                <app-form ></app-form>

            </div>
        </div>
    </div> _

</section>