<section class="page">
    <ul class="text-center" style="color: whitesmoke; font-size: 20px;" *ngFor="let quote of quotes; let i = index">
        <div *ngIf="
        quote.upvotes == highest && quote.upvotes > 0;
        then highlight;
        else none
      "></div>
        <div>
            <ng-template #highlight>
                <li appHighlight>{{ quote.id }} {{quote.id}}. {{quote.publisher}}
                    <div class="container">
                        <div class="row justify-content-center">

                            <button class="btn btn-info" (click)="upvote(i)">
                                <span>Upvotes: {{ quote.upvotes }} </span>
                            </button>
                            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>

                            <button class="btn btn-info" (click)="downvote(i)">
                                <span>Downvotes: {{ quote.downvotes }}</span>
                            </button>
                            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
                            <button class="btn btn-danger" (click)="delQuote(i)">Delete</button>

                        </div>

                    </div>
                    <!-- <span class="text-primary text-center">Upvotes: {{ quote.upvotes }}
                    </span>
                    <span class="text-warning text-center">Downvotes: {{ quote.downvotes }}</span> -->
                </li>
            </ng-template>
        </div>

        <ng-template #none>
            <li>{{quote.id}}. {{quote.publisher}}, {{quote.author}}, {{quote.quote}}
                <div class="container">
                    <div class="row justify-content-center">

                        <button class="btn btn-info" (click)="upvote(i)">
                            <span>Upvotes: {{ quote.upvotes }} </span>
                        </button>
                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>

                        <button class="btn btn-info" (click)="downvote(i)">
                            <span>Downvotes: {{ quote.downvotes }}</span>
                        </button>
                        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
                        <button class="btn btn-danger" (click)="delQuote(i)">Delete</button>

                    </div>
                </div>
            </li>
        </ng-template>

    </ul>
</section>